.top-banner{
    display: inline-block;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 82, 51), #df3f3f, rgb(255, 43, 78));
    margin-top: 1em;
    z-index: 1;
}

.top-banner-left{
    display: inline-flex;
    filter: invert(100%);
    padding: 2em;
    position: absolute;
    margin-right: 1px;
}

.ball{
    margin-top: -4.5em;
    margin-left: -4.5em;
}

.little-balls{
    position: absolute; 
    left:15.5em; 
    top:7.5em;
}

.arrows{
    filter: invert(100%);
    z-index: 2;
    position: absolute; 
    left:19em; 
    top:1.8em;
}

.woman{
    opacity: 90%;
    position: absolute; 
    left:45vh; 
    top:3.2em;
    filter: contrast(200%);
}

.triangle{
    position: absolute; 
    right: 5vh;
    top:1.2em;

}

.top-banner-right{
    margin-top: 2em;
    position: absolute;
    right: 5vh;
}

.top-banner-right-under{
    z-index: 2;
    position: absolute; 
    top:7.7em;
    right: 2.5em;
}

.main{
    width: 100%;  
}

.top{
    margin-left: 2em;
    margin-right: 2em;
}

.top img{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
    object-fit: contain;
    max-height: 300px;
    
}

.top h1{
    display: inline-block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    object-fit: fill;
    font-size: 4vh;
    font-size-adjust: initial;
    font-weight: bolder;

}

.top p{
    font-size: 2.5vw;

}

.font{
    font-style: italic;
    color: gray;
    margin-bottom: 0;
    margin-top: 0.5 em;
    font-size: 14px;
    line-height: 20px;
}

.under-font-1{
    height: 4.5px;
    margin-bottom: 2em;
    margin-left: 2em;
}

.row{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.column {
    width: 40%;
    padding: 5px;
    height: 15em;
    margin: auto;
}


.row-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.column-text{
    width: 40%;
    padding: 5px;
    margin: auto;

}

h3 {
    font-size: 4vh;
    font-weight: bolder;
    text-align: left;
}

.under-font-2{
    height: 3px;
    width: 50%;
    margin-bottom: 2em;
    margin-left: 2em;
    display: inline-block;

}


.foot{
    display: inline-block;
    height: 12vh;
    width: 100%;
    background-color: rgba(235, 67, 37, 0.952);
    display: flex;
    justify-content: center;
    align-items: center;
}

.end {
    margin: 2em;
    text-align: center;
}

.end em{
    text-decoration: underline;
}