.top-banner{
    display: inline-block;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 82, 51), #df3f3f, rgb(255, 43, 78));
    margin-top: 1em;
    z-index: 1;
}

.top-banner-left{
    display: inline-flex;
    filter: invert(100%);
    padding: 2em;
    position: absolute;
    margin-right: 1px;
}

.ball{
    margin-top: -4.5em;
    margin-left: -4.5em;
}

.little-balls{
    position: absolute; 
    left:15.5em; 
    top:7.5em;
}

.arrows{
    filter: invert(100%);
    z-index: 2;
    position: absolute; 
    left:19em; 
    top:1.8em;
}

.woman{
    opacity: 90%;
    position: absolute; 
    left:45vh; 
    top:3.2em;
    filter: contrast(200%);
}

.triangle{
    position: absolute; 
    right: 5vh;
    top:1.2em;
}

.foot{
    display: inline-block;
    height: 12vh;
    width: 100%;
    background-color: rgba(235, 67, 37, 0.952);
    display: flex;
    justify-content: center;
    align-items: center;
}

.end {
    margin: 2em;
    text-align: center;
}

.end em{
    text-decoration: underline;
}